*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-image: url("https://res.cloudinary.com/ddgyxfetd/image/upload/v1648240194/Back-End/22-225252_s_gz504s.jpg");
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    padding: 2% 4%;  
}

header nav ul{
    list-style: none;
    cursor: pointer;
}

header button{
    background: none;
    border: none;
    cursor: pointer;
    background-color: gold;
    height: 30px;
    border-radius: 10px;
    color: white
}

header nav li{
  text-transform: capitalize;
  font-weight: bold;
  display: inline;
  padding: 0 3px;
}

h1 {
    background: #333;
    color: #fff;
    text-align: center;
    margin: 0 0 5% 0;
    padding: 0.5em;
    margin: 0 0 5% 0;
  }
  
  .cardBox {
    float: left;
    font-size: 1.2em;
    margin: 1% 0 0 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 23.7%;
  }
  
  /* .cardBox:hover .card {
    transform: rotateY( 180deg);
  } */
  
  .card {
    background: #222;
    cursor: default;
    height: 450px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
  }
  
  .card p {
    margin-bottom: 1.8em;
  }
  
  .card .front,
  .card .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: white;
    display: block;
    font-size: 1.2em;
    height: 100%;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  
  .card .front strong {
    background: #fff;
    border-radius: 100%;
    color: #222;
    font-size: 1.5em;
    line-height: 30px;
    padding: 0 7px 4px 6px;
  }
  
  .card .back {
    transform: rotateY( 180deg);
  }
  
  .card .back a {
    padding: 0.3em 0.5em;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 1px;
    font-size: 0.9em;
    transition: all 0.2s ease 0s;
  }
  
  .card .back a:hover {
    background: #fff;
    color: #333;
    text-shadow: 0 0 1px #333;
  }